html {
	height: 100%;
}
body {
	height: auto;
	width: auto;
	margin: 1;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background: linear-gradient(to top right, #63f297 0%, #006023 100%);
}

.main-container {

	background-color: #afceff;
	position: absolute;
	top: 60px;
	left: 300px;
	border: 3px solid #637ca5;
	border-radius: 50px;
	width: 900px;
	height: 500px;
}

.lines-pic {
	position: relative;
	top: 110px;
	left: 85px;
}

.car-1 {
	position: absolute;
	top: 150px;
	left: 120px;
	display: block;
}

.car-2 {
	position: absolute;
	top: 295px;
	left: 120px;
	display: block;
}

.car-3 {
	position: absolute;
	top: 150px;
	left: 547px;
	display: block;
}

.car-4 {
	position: absolute;
	top: 295px;
	left: 547px;
	display: block;
}

.dots {
	position: absolute;
	top: 30px;
	left: 0px;
}

.dot-1 {
	position: absolute;

}

.navbar {
	width: 180px;
	position: fixed;
	left: 30px;
	border-radius: 10px;
	height: 100%;
	background-color: lightblue;
}

.navbar-fixed-left .navbar-nav > li {
float: none;  /* Cancel default li float: left */
width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}


.dropbtn {
  background-color: #ADD8E6;
  color: #3677FA;
  position: relative;
  left: -8px;
  padding: none;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block; }

.dropdown:hover .dropbtn {
  background-color: #00D1FF;
  border-radius:8px;
}

.authorB {
  display: block;
  position: absolute;
  top: 250px;
  left: 140px;
}

.authorG {
  display: block;
  position: absolute;
  top: 250px;
  left: 540px;
}

.footer{
	position: fixed;
	left: 10px;
	bottom: 0;
	width: 98.5%;
}



